$footerBg: hsl(243, 87%, 12%);
$info-cardBg: hsl(238, 22%, 44%);
$button-color: hsl(224, 93%, 58%);
$link-text-color: hsl(170, 45%, 43%);
$paragraph-text: hsl(0, 0%, 75%);
$footer-text: hsl(240, 75%, 98%);


