@import "config";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

* {
  @include primary-font;
  font: {
    size: 16px;
    weight: 400;
  }
}
body {
  width: 347px;
  border: 1px solid black;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 25%;
    height: fit-content;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 180px;
    li {
      font-size: 0.85rem;
      color: $info-cardBg;
      font-weight: 700;
    }
  }
}

.card-1 {
  margin-top: 6em;

  img {
    width: 100%;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
  p {
    padding: 0.5em;
    text-align: center;
    @include secondary-font;
    color: $info-cardBg;
    font-size: 0.95rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
      width: 95%;
      margin: 1em auto;
      height: 40px;
      padding: 0.5em 1em;
      font-size: 0.75rem;
      box-sizing: border-box;
      border-radius: 3px;
      @include border($info-cardBg);
    }
    button {
      color: white;
      background-color: $button-color;
      @include border($button-color);
      width: 95%;
      height: 40px;
      box-sizing: border-box;
      margin: auto;
      border-radius: 3px;
    }
  }
}

.card-2 {
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 2100%;
  padding-bottom: 6em;
  .card-image {
    margin: 6em 0;
    width: 100%;
  }
  h2 {
    font-weight: 700;
    text-align: center;
  }
  p {
    text-align: left;
    padding: 0.5em;
    @include secondary-font;
  }
  a {
    margin-left: 95px;
    text-decoration: none;
    border-bottom: 1px solid $link-text-color;
    padding-bottom: 0.4em;
    font-size: 0.85rem;
    color: $link-text-color;
  }
  .icon-arrow {
    width: 7%;
    position: relative;
    top: 6px;
  }
}
.review {
  background-color: white;
  box-sizing: border-box;
  width: 80%;
  margin: 4em auto 0 auto;
  @include border($paragraph-text);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  .quote-icon {
    width: 6%;
    position: relative;
    left: 5px;
    top: 5px;
  }
  p {
    @include secondary-font;
    font-size: 0.75rem;
    color: $info-cardBg;
  }
  .profile {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      width: 13%;
      margin-right: 0.5em;
    }
    .kyle {
      line-height: 0.07;
      .name {
        font-size: 0.7rem;
        font-weight: 700;
        color: $footerBg;
      }
      .post {
        font-size: 0.5rem;
      }
    }
  }
}

.card-3 {
  background-color: $info-cardBg;
  padding: 2em 1.5em;
  text-align: center;
  color: white;
  h3 {
    font-weight: 700;
    font-size: 1.2em;
  }
  p {
    font-size: 0.85rem;
    line-height: 2;
  }
  form {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: auto;
      input {
          height: 40px;
          font-size: 0.7rem;
          padding-left: 1em;
          box-sizing: border-box;
          border-radius: 3px;
          @include border($paragraph-text);
      }
      button {
          height: 40px;
          margin-top: 1em;
          font-size: 0.7rem;
          font-weight: 700;
          color: white;
          background-color: $button-color;
          @include border($button-color);
          border-radius: 3px;
      }
  }
}
footer {
    background-color: $footerBg;
    color: $footer-text;
    padding: 4em 2em 0 2em;
    .logo-white {
        filter: invert(27%) brightness(1000%);
    }
    .phone, .email {
        display: flex;
        align-items: center;
        img {
            margin-right: 1em;
            width: 6%;
            height: fit-content;
        }
    }
}

.ext-1 {
    margin: 2em 0;
}

.social {
    margin-left: 80px;
    i {
        margin: 2em 1em;
    }
}

